<div class="jumbotron">
    <div class="container-fluid">
        <div class="text-center">
            <h1>Ben Hassara</h1>
            <p>
                Shoreditch hella gastropub Etsy, vegan banjo drinking vinegar ugh cardigan wayfarers church-key synth. Gentrify Blue Bottle High Life, fanny pack meggings tattooed Helvetica.
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center">
                <h1>About me</h1>
                <p>
                    Shoreditch hella gastropub Etsy, vegan banjo drinking vinegar ugh cardigan wayfarers church-key synth. Gentrify Blue Bottle High Life, fanny pack meggings tattooed Helvetica. Artisan crucifix hoodie meggings. Health goth McSweeney's Shoreditch cliche, keytar ennui Neutra. Salvia crucifix drinking vinegar, locavore tilde sriracha Blue Bottle aesthetic. Meggings cold-pressed hoodie, YOLO banh mi bicycle rights seitan raw denim street art Banksy gentrify squid asymmetrical try-hard Kickstarter. Sartorial flexitarian American Apparel 3 wolf moon, lo-fi jean shorts ugh cardigan selfies lumbersexual.
                </p>
            </div>
        </div>
    </div>
</div>
