<div class="container">
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Title</h3>
                </div>
                <div class="panel-body">
                    <a href="#" class="thumbnail">
                        <img src="" alt="...">
                    </a>
                    <p>
                        Craft beer YOLO sriracha, McSweeney's scenester Tumblr fanny pack roof party Helvetica PBR&B cliche mumblecore Vice. Portland next level letterpress DIY, Austin Etsy gluten-free try-hard fashion axe Odd Future. Whatever Neutra biodiesel, four loko mustache DIY trust fund authentic. Shoreditch bicycle rights cronut, quinoa letterpress tote bag meggings post-ironic swag DIY you probably haven't heard of them Etsy Helvetica.
                    </p>
                </div>
                <div class="panel-footer">
                        <a href="#" data-toggle="tooltip" title="source code">
                            <i class="fa fa-code-fork fa-lg"></i>
                        </a>
                        <a class="pull-right" href="#" data-toggle="tooltip" title="live version">
                            <i class="fa fa-globe fa-lg"></i>
                        </a>
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Project Title</h3>
                </div>
                <div class="panel-body">
                    <a href="#" class="thumbnail">
                        <img src="" alt="...">
                    </a>
                    <p>
                        PBR&B cardigan keffiyeh, roof party bitters American Apparel occupy. Shabby chic mustache chia, slow-carb fingerstache direct trade meh. Keffiyeh shabby chic 8-bit Pinterest 90's, quinoa lomo. Pork belly McSweeney's freegan irony semiotics Marfa bitters tofu street art Banksy, tattooed brunch plaid normcore. Crucifix vinyl whatever, tousled bitters four dollar toast small batch meh vegan blog.
                    </p>
                </div>
                <div class="panel-footer">
                    <a href="#" data-toggle="tooltip" title="source code">
                        <i class="fa fa-code-fork fa-lg"></i>
                    </a>
                    <a class="pull-right" href="#" data-toggle="tooltip" title="live version">
                        <i class="fa fa-globe fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
